.loader {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  position: relative;
  display: flex;
  width: 200px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: truckBounce 1s linear infinite;
}

@keyframes truckBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

.truckTires {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 130px;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 15px;
}

.truckTires svg {
  width: 24px;
}

.road {
  position: relative;
  bottom: 0;
  align-self: flex-end;
  width: 100%;
  height: 1.5px;
  border-radius: 3px;
  background-color: #282828;
}

.road::before {
  position: absolute;
  right: -50%;
  width: 20px;
  height: 100%;
  border-radius: 3px;
  border-left: 10px solid white;
  animation: roadScroll 1.4s linear infinite;
  background-color: #282828;
  content: "";
}

.road::after {
  position: absolute;
  right: -65%;
  width: 10px;
  height: 100%;
  border-radius: 3px;
  border-left: 4px solid white;
  animation: roadScroll 1.4s linear infinite;
  background-color: #282828;
  content: "";
}

.lampPost {
  position: absolute;
  right: -90%;
  bottom: 0;
  height: 90px;
  animation: roadScroll 1.4s linear infinite;
  fill: #000000;
}

@keyframes roadScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-350px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .truckBody,
  .road::before,
  .road::after,
  .lampPost {
    animation: none;
  }
}
